html, body, #mapDiv { 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

.venue-list {
  position: absolute;
  top: 3.5em;
  padding: 1em;
  background: #4caf50;
  height: 100%;
  width: 20em;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
}

.glyphicon-list {
    font-size: 1.5em;
    color: #FFF;
} 

header {
    background: #50af4c;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5em 1em;
}

.menu-hidden .menu {
    transform: translate3d(-12em, 0, 0);
    transition: transform 0.2s;
}